<div class="hobbies-info" id = "soap" [ngClass]="{invisible: !isHobbie1Visible}">
    <h2>Soap Carving</h2>
    <p>Soap carving as the name suggests is transforming bars of soap into art such as shapes, animals or flowers
        through sculpting. Soap is the perfect material for both beginners and experts alike due to its soft nature and
        sculpture size. </p>
    <img src="assets/soap.png" alt="tree" width="200" height="130">
</div>

<div class="hobbies-info" id = "ostrich" [ngClass]="{invisible: !isHobbie2Visible}">
    <h2>Ostrich Racing</h2>
    <p>Ostrich racing is an exciting sport where participants need a sense of adventure, balance, and skill to ride this
        flightless bird. Add in some competition, and you have a great (though quite bizarre) hobby.
        As with horse riding, riders can ride with reins, saddles, bits, and even wagons
        The sport originated in Africa, but now it’s practiced in the U.S. and other places in the world. </p>
    <img src="assets/ostrich.png" alt="tree" width="200" height="260">
</div>

<div class="hobbies-info" id = "tree" [ngClass]="{invisible: !isHobbie3Visible}">
    <h2>Tree Shaping</h2>
    <p>It’s a very cool hobby in which you train living trees and other woody plants into artistic shapes or useful
        structures. Think about growing your own chair! It might take a while though. </p>
    <img src="assets/tree.png" alt="tree" width="200" height="200">
</div>

<div class="hobbies-info" id = "ghost" [ngClass]="{invisible: !isHobbie4Visible}">
    <h2>Ghost Hunting</h2>
    <p>Are you a fan of paranormal TV shows like Ghost Adventures and Paranormal Lockdown? Why not try a little ghost
        hunting in real life? Many paranormal teams across the country run events taking members of the public to
        investigate spooky buildings. </p>
    <img src="assets/ghost.png" alt="ghost" width="130" height="150">
</div>

<div class="hobbies-info" id = "iron" [ngClass]="{invisible: !isHobbie5Visible}">
    <h2>Extreme Ironing</h2>
    <p>Extreme ironing is an outdoor sport that combines the danger and excitement of an “extreme” sport with the
        satisfaction of a well-pressed shirt.
        It involves taking an iron and board to remote locations and ironing a few items of laundry.
        This can involve ironing on a mountainside, preferably on a difficult climb, or taking an iron skiing, scooting,
        or canoeing. </p>
    <img src="assets/iron.png" alt="iron" width="150" height="150">
</div>

<div class="hobbies-info" id = "bee" [ngClass]="{invisible: !isHobbie6Visible}">
    <h2>Beekeeping</h2>
    <p>Beekeeping as a hobby is a great way to connect with nature. Besides honey, beekeeping has other potential
        rewards, both personal and commercial. But it requires commitment, investment, and ongoing learning. If you are
        comfortable with the challenges, beekeeping can be a rewarding and worthwhile pursuit. </p>
    <img src="assets/bee.png" alt="bee" width="150" height="120">
</div>

<div class="hobbies-info" id = "urban" [ngClass]="{invisible: !isHobbie7Visible}">
    <h2>Urban Exploration</h2>
    <p>Urban exploration, often abbreviated as “urbex,” is a fascinating hobby that involves exploring abandoned or
        hidden places within metropolitan cities. It offers a unique opportunity to discover forgotten history,
        experience the thrill of adventure, and capture the beauty of decay. Here’s a guide on how to engage in urban
        exploration and discover hidden gems in metropolitan areas</p>
    <img src="assets/house.png" alt="house" width="200" height="170">
</div>

<div class="hobbies-info" id = "cow" [ngClass]="{invisible: !isHobbie8Visible}">
    <h2>Mooing</h2>
    <p>Mooing might sound like an activity reserved for the pasture, but it’s also a unique pastime that’s garnering
        attention. This hobby isn’t just about imitating the sound of cows; it’s an art that involves skill and
        sometimes even competition. With origins that are as quirky as the hobby itself, mooing allows enthusiasts to
        connect with fellow aficionados, express their creativity, and enjoy a lighthearted escape from routine.</p>
    <img src="assets/cow.png" alt="cow" width="200" height="200">
</div>