h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: deeppink;
}

#hobbies {
    max-width: fit-content;
    margin-left: 60px;
    margin-right: auto;
    padding: 30px;

}

button {
  background-color: #92c5cc;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: deeppink;
  display: inline-flex;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  justify-content: center;
  line-height: 3.75rem;
  text-align: center;
  text-decoration: none #000000 solid;
  width: 100%;
  max-width: 300px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
}

button:focus {
  outline: 0;
}

button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
   button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

