<h1>uNuSUal hOBBiEs!</h1>

<div id="hobbies">
    <button (click)="callOpenHobbie1()">Soap Carving</button>
    <button (click)="callOpenHobbie2()">Ostrich Racing</button>
    <button (click)="callOpenHobbie3()">Tree Shaping</button>
    <button (click)="callOpenHobbie4()">Ghost Hunting</button>
    <button (click)="callOpenHobbie5()">Extreme Ironing</button>
    <button (click)="callOpenHobbie6()">Beekeeping</button>
    <button (click)="callOpenHobbie7()">Urban Exploration</button>
    <button (click)="callOpenHobbie8()">Mooing</button>
</div>

<app-component2></app-component2>
